form {
	text-align: center;
}

body {
	margin: 0;
	padding: 0;

	background-image: url("../images/backgrounds/warehouse.jpg");
	background-size: 100%;
	width: 100%;
	height: 100%;
	min-width: 950px;
}

a {
	text-decoration: none;
	color: #125D98;
}

.wrapper {
	
}

.login_box {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3%;
	width: 35%;
	background-color: #DDDDDD;
	border 1px solid 3C8DAD;
	border-radius: 7px;
	padding: 5px;
	opacity: 0.90;
}

.login_header {
	width: 100%;
	height: 90px;
	background-color: #125D98;
	color: #fff;
	text-align: center;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.login_header h1 {
	margin-top: 0;
	margin-bottom: 0;
	color: #F5A962;
	text-shadow: #000 0.5px 0.5px 0px;
	font-size: 210%;
}

input[type="submit"] {
	background-color: #125D98;
	border: 1px solid #125D98;
	border-radius: 3px;
	margin: 5px 0 10px 0;
	padding: 5px 10px 5px 10px;
	color: #F5A962;
	text-shadow: #000 0.5px 0.5px 0px;
	font-size: 100%;
}

input[type="text"], input[type="email"], input[type="password"] {
	border: 1px solid #e5e5e5;
	margin-top: 5px;
	width: 70%;
	height: 25px;
	margin-bottom: 10px;
	padding-left: 5px;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover {
	border-color: #125D98;
}

#second {
	display: none;
}