body{
	background-color: #aaacaf;
}

a {
	color: #125d98;
	text-decoration: none;
	font-weight: 700;
	font-size: 120%;
}

.top_bar {
	width: 100%;
	min-width: 1050px;
	height: 60px;
	background-color: #125D98;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;
}

#GFG {
	text-decoration: none;
}

#GFGN {
	text-decoration: none;
	position: relative;
	color: #DDDDDD;
	text-decoration: none;
	font-size: 24px;
	font-weight: 650;
	font-style: italic;
	top: 3px;
	margin-left: 10px;
	margin-right: 16px;
}

#GFGN:hover {
	color: #F5A962;
	text-shadow: #000 0.5px 0.5px 0px;
}

.logo a{
	color: #F5A962;
	text-shadow: #000 0.5px 0.5px 0px;
	font-size: 190%;
	margin-left: 10px;
	position: relative;
	top: 7px;
	font-weight: 600;
}

nav {
	float: right;
	right:  1px;
	position: absolute;
	margin: 10px;
}

nav a{
	position: relative;
	color: #DDDDDD;
	text-decoration: none;
	font-size: 17px;
	top: 2px;
	margin-left: 10px;
}

nav a:hover {
	color: #F5A962;
	text-shadow: #000 0.5px 0.5px 0px;
}


.wrapper {
	margin: 0 auto;
	top: 50px;
	position: relative;
	padding: 30px 10px;
	width: 75%;
	min-width: 950px;
}

.column {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #3C8DAD;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #3C8DAD;
	z-index: -1;
}

.user_details {
	width: 230px;
	float: left;
	margin-bottom: 20px;
}

.user_details_left_right {

}

.main_column {
	float: right;
	width: 70%;
	z-index: -1;
	min-height: 160px;
}

.post_form {
	width: 100%;
}

.post_form textarea {
	width: 80%;
	height: 60px;
	border-radius: 3px;
	margin-right: 5px;
	border: 1px solid #3C8DAD;
	font-size: 12px;
	padding: 5px;
}

textarea:focus {
	outline: 0;
}

.post_form input[type="submit"] {
	width: 13%;
	height: 60px;
	border: none;
	border-radius: 3px;
	background-color: #125D98;
	color: #F5A962;
	text-shadow: #000 0.5px 0.5px 0px;
	font-size: 110%;
	position: absolute;
	outline: 0;
	margin: 0;
}

.post_form input[type="submit"]:hover {
	background-color: #3C8DAD;
}

.post_form input[type="submit"]:active {
	padding: 5px 4px 4px 5px;
}

.status_post {
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
	cursor:pointer;
}


#comment_iframe {
	max-height: 250px;
    width: 100%;
    margin-top: 5px;
}

.comment_section {
	padding: 0 5px 5px 5px;
}

#comment_form textarea {
	border-color: #D3D3D3;
	width: 85%;
	height: 35px;
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
	border:none;
	background-color: #125d98;
    color: #fff;
    border-radius: 5px;
    width: 13%;
    height: 35px;
    margin-top: 3px;
    position: absolute;
}

.newsfeedPostOptions {
	padding: 0px;
	text-decoration: none;
	color: #125d98;
	border:none;
}

.newsfeedPostOptions iframe {
    border: 0;
    height: 15px;
    width: 180px;
}

.comment_like {
	background-color: transparent;
	border:none;
	font-size: 14px;
	color: #125d98;
	padding: 0;
	height: auto;
	width: auto;
	margin: 0;
}

.like_value {
	display: inline;
	font-size: 14px;
	padding: 0;
	height: auto;
	width: auto;
	margin: 0;
}


.profile_left {
	top: -20px;
	bottom: 100px;
	width: 25%;
	max-width: 240px;
	min-width: 130px;
	height: 100%;
	float: left;
	position: relative;
	
	background-color: #125D98;
	border-right: 10px solid #DDDDDD;
	color: #f5a962;
	margin-right: 20px;
}

.profile_info {
	display: list-item;
	background-color: ;
	height: 493px;
    width: 282px;
	padding: 10px 0 10px 0;
}

.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.delete_button {
	height: 26px;
	width: 26px;
	padding: 0;
	float: right;
	border-radius: 6px;
	right: -15px;
	position: relative;
}